<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    {{> header}}

    {{> navegacion}}
    <h1>mostacho</h1>
    <h3>{{fecha}}</h3>
<p>La suma es {{suma 10 20}}</p>

   {{> footer}}
</body>

</html>